<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shirongbao.bank.dao.AccountDao">
    <select id="selectByActno" resultType="com.shirongbao.bank.pojo.Account">
        SELECT  * FROM t_act WHERE actno = #{actno};
    </select>

    <update id="updateAccount">
        UPDATE t_act
        SET balance = #{balance}
        WHERE actno = #{actno};
    </update>
</mapper>