<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shirongbao.mybatis.mapper.ClazzMapper">

    <resultMap id="clazzResultMapStep" type="Clazz">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <collection property="students" select="com.shirongbao.mybatis.mapper.StudentMapper.selectByCidStep2" column="cid"/>
    </resultMap>
    
    <select id="selectByStep1" resultMap="clazzResultMapStep">
        SELECT cid, cname
        FROM t_clazz
        WHERE cid = #{cid}
    </select>

    <resultMap id="clazzResultMap" type="Clazz">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <collection property="students" ofType="Student">
            <id property="sid" column="sid"/>
            <result property="sname" column="sname"/>
        </collection>
    </resultMap>

    <select id="selectByCollection" resultMap="clazzResultMap">
        SELECT c.cid, c.cname, s.sid, s.sname
        FROM t_clazz c
                 LEFT JOIN t_student s
                           ON c.cid = s.cid
        WHERE c.cid = #{cid}
    </select>

    <select id="selectByIdStep2" resultType="Clazz">
        SELECT cid, cname
        FROM t_clazz
        WHERE cid = #{cid}
    </select>
</mapper>