<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.UserAccountMapper">

    <select id="checkUserAccount" resultType="com.atguigu.entity.UserAccount">
        select *
        from user_account
        where user_id = #{userId}
        and available_amount > #{amount}
        for update
    </select>

    <update id="lockUserAccount">
        update user_account
        set lock_amount = lock_amount + #{amount}, available_amount = available_amount - #{amount}
        where user_id = #{userId}
    </update>
    <update id="deductLockAccount">
        update user_account
        set lock_amount = lock_amount - #{amount},
            total_amount = total_amount - #{amount},
            total_pay_amount = total_pay_amount + #{amount}
        where user_id = #{userId}
    </update>
    <update id="unlockUserAccount">
        update user_account
        set lock_amount = lock_amount - #{amount}, available_amount = available_amount + #{amount}
        where user_id = #{userId}
    </update>

</mapper>
